<div style="max-width: 1000px; margin: auto;">
  <h1>Imprint</h1>
  <h4>
    This game was developed at the Institute for Sport Science of the University of Vienna during the COMPASS project and was financed by
    Erasmus+
  </h4>
  <p>University of Vienna<br />Centre for Sport Science and University Sports<br />Auf der Schmelz 6<br />1150 Vienna, Austria</p>
  <p>
    <a href="https://zsu-schmelz.univie.ac.at/" target="_blank">Website of the Institute for Sport Science of the University of Vienna</a>
  </p>
  <p>E-Mail: <a href="mailto:compass.sport@univie.ac.at">compass.sport@univie.ac.at</a></p>
  <h1 style="margin-top: 50px;">Data Policy</h1>
  <p>
    We have written this data protection declaration (version 18.01.2021-211139867) to explain to you in accordance with the provisions of
    the General
    <a
      href="https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679&tid=211139867"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >Data Protection Regulation (EU) 2016/679</a
    >
    what information we collect, how we use data and what choices you have as a visitor to this website .
  </p>
  <p>
    Unfortunately, it is in the nature of things that these explanations sound very technical, but we have tried to describe the most
    important things as simply and clearly as possible.
  </p>
  <h2>Automatic data storage</h2>
  <p>
    When you visit websites these days, certain information is automatically created and stored, including on this website.
  </p>
  <p>
    If you visit our website as it is now, our web server (computer on which this website is stored) automatically saves data such as
  </p>
  <ul>
    <li>
      the address (URL) of the accessed website
    </li>
    <li>Browser and browser version</li>
    <li>the operating system used</li>
    <li>
      the address (URL) of the previously visited page (referrer URL)
    </li>
    <li>
      the host name and the IP address of the device from which access is made
    </li>
    <li>Date and Time</li>
  </ul>
  <p>in files (web server log files).</p>
  <p>
    As a rule, web server log files are stored for two weeks and then automatically deleted. We do not pass on this data, but we cannot rule
    out that this data will be viewed in the event of illegal behavior.
  </p>
  <h2>Cookies</h2>
  <p>
    Our website uses HTTP cookies to save user-specific data. <br />
    In the following we explain what cookies are and why they are used so that you can better understand the following data protection
    declaration.
  </p>
  <h3>What exactly are cookies?</h3>
  <p>
    Whenever you surf the Internet, you are using a browser. Well-known browsers are, for example, Chrome, Safari, Firefox, Internet
    Explorer and Microsoft Edge. Most websites save small text files in your browser. These files are called cookies.
  </p>
  <p>
    One thing cannot be dismissed out of hand: Cookies are really useful little helpers. Almost all websites use cookies. More precisely,
    they are HTTP cookies, as there are also other cookies for other areas of application. HTTP cookies are small files that our website
    stores on your computer. These cookie files are automatically placed in the cookie folder, which is the "brain" of your browser. A
    cookie consists of a name and a value. When defining a cookie, one or more attributes must also be specified.
  </p>
  <p>
    Cookies save certain user data about you, such as language or personal page settings. When you call up our site again, your browser
    transmits the "user-related" information back to our site. Thanks to cookies, our website knows who you are and offers you the settings
    that you are used to. In some browsers, each cookie has its own file, in others, such as Firefox, all cookies are stored in a single
    file.
  </p>
  <p>
    There are both first-party cookies and third-party cookies. First-party cookies are created directly from our side, third-party cookies
    are created by partner websites (e.g. Google Analytics). Each cookie must be evaluated individually, as each cookie stores different
    data. The expiry time of a cookie also varies from a few minutes to a few years. Cookies are not software programs and do not contain
    viruses, Trojans or other "pests". Cookies cannot access information on your PC either.
  </p>
  <p>For example, cookie data can look like this:</p>
  <p>
    <strong>Name:</strong> _ga <br />
    <strong>Value:</strong>
    GA1.2.1326744211.152211139867-6 Purpose <br />
    <strong>:</strong> Differentiation of website visitors Expiry <br />
    <strong>date:</strong> after 2 years
  </p>
  <p>A browser should be able to support these minimum sizes:</p>
  <ul>
    <li>At least 4096 bytes per cookie</li>
    <li>At least 50 cookies per domain</li>
    <li>At least 3000 cookies in total</li>
  </ul>
  <h3>What types of cookies are there?</h3>
  <p>
    The question of which cookies we use in particular depends on the services used and is clarified in the following sections of the data
    protection declaration. At this point we would like to briefly discuss the different types of HTTP cookies.
  </p>
  <p>There are 4 types of cookies:</p>
  <p>
    <strong>Essential cookies<br /> </strong> These cookies are necessary to ensure the basic functions of the website. For example, these
    cookies are needed when a user puts a product in the shopping cart, then continues surfing on other pages and only goes to checkout
    later. These cookies do not delete the shopping cart, even if the user closes his browser window.
  </p>
  <p>
    <strong>Appropriate cookies<br /> </strong> These cookies collect information about user behavior and whether the user receives any
    error messages. In addition, these cookies are used to measure the loading time and the behavior of the website with different browsers.
  </p>
  <p>
    <strong>Goal-oriented cookies<br /> </strong> These cookies improve user-friendliness. For example, entered locations, font sizes or
    form data are saved.
  </p>
  <p>
    <strong>Advertising cookies<br /> </strong> These cookies are also called targeting cookies. They serve to deliver customized
    advertising to the user. That can be very practical, but also very annoying.
  </p>
  <p>
    When you visit a website for the first time, you will usually be asked which of these types of cookies you would like to allow. And of
    course this decision is also saved in a cookie.
  </p>
  <h3>How can I delete cookies?</h3>
  <p>
    You decide for yourself how and whether you want to use cookies. Regardless of which service or website the cookies originate from, you
    always have the option to delete, deactivate or only partially allow cookies. For example, you can block third-party cookies but allow
    all other cookies.
  </p>
  <p>
    If you want to find out which cookies have been stored in your browser, if you want to change or delete cookie settings, you can find
    this in your browser settings:
  </p>
  <p>
    <a href="https://support.google.com/chrome/answer/95647?tid=211139867" target="_blank" rel="noopener noreferrer nofollow"
      >Chrome: Delete, activate and manage cookies in Chrome</a
    >
  </p>
  <p>
    <a href="https://support.apple.com/de-at/guide/safari/sfri11471/mac?tid=211139867" target="_blank" rel="noopener noreferrer nofollow"
      >Safari: manage cookies and website data with Safari</a
    >
  </p>
  <p>
    <a
      href="https://support.mozilla.org/de/kb/cookies-und-website-daten-in-firefox-loschen?tid=211139867"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >Firefox: Delete cookies to remove data that websites have stored on your computer</a
    >
  </p>
  <p>
    <a
      href="https://support.microsoft.com/de-at/help/17442/windows-internet-explorer-delete-manage-cookies?tid=211139867"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >Internet Explorer: deleting and managing cookies</a
    >
  </p>
  <p>
    <a
      href="https://support.microsoft.com/de-at/help/4027947/windows-delete-cookies?tid=211139867"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >Microsoft Edge: Deleting and managing cookies</a
    >
  </p>
  <p>
    If you generally do not want cookies, you can set up your browser so that it always informs you when a cookie is to be set. For each
    individual cookie, you can decide whether or not to allow the cookie. The procedure is different depending on the browser. It is best to
    search for the instructions in Google with the search term “delete cookies Chrome” or “deactivate cookies Chrome” in the case of a
    Chrome browser.
  </p>
  <h3>What about my data protection?</h3>
  <p>
    The so-called “cookie guidelines” have existed since 2009. It states that the storage of cookies requires your consent. Within the EU
    countries, however, there are still very different reactions to these guidelines. In Austria, however, this directive was implemented in
    Section 96 (3) of the Telecommunications Act (TKG).
  </p>
  <p>
    If you would like to know more about cookies and are not afraid of technical documentation, we recommend
    <a href="https://tools.ietf.org/html/rfc6265" target="_blank" rel="nofollow noopener noreferrer">https://tools.ietf.org/html/rfc6265</a>
    , the Request for Comments of the Internet Engineering Task Force (IETF) called "HTTP State Management Mechanism".
  </p>
  <h2>Storage of personal data</h2>
  <p>
    Personal data that you transmit to us electronically on this website, such as name, e-mail address, address or other personal
    information in the context of submitting a form or comments in the blog, are stored by us together with the time and the IP address. The
    address is only used for the specified purpose, stored securely and not passed on to third parties.
  </p>
  <p>
    We therefore only use your personal data for communication with those visitors who expressly request contact and for processing the
    services and products offered on this website. We do not pass on your personal data without your consent, but we cannot rule out that
    this data will be viewed in the event of illegal behavior.
  </p>
  <p>
    If you send us personal data by e-mail - outside of this website - we cannot guarantee secure transmission and protection of your data.
    We recommend that you never send confidential data unencrypted by email.
  </p>
  <h2>Rights according to the General Data Protection Regulation</h2>
  <p>
    According to the provisions of the GDPR and the Austrian
    <a
      href="https://www.ris.bka.gv.at/GeltendeFassung.wxe?Abfrage=Bundesnormen&Gesetzesnummer=10001597&tid=211139867"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >Data Protection Act (DSG)</a
    >
    , you have the following rights:
  </p>
  <ul>
    <li>
      Right to rectification (Article 16 GDPR)
    </li>
    <li>
      Right to erasure ("right to be forgotten") (Article 17 GDPR)
    </li>
    <li>
      Right to restriction of processing (Article 18 GDPR)
    </li>
    <li>
      Right to notification - obligation to notify in connection with the correction or deletion of personal data or the restriction of
      processing (Article 19 GDPR)
    </li>
    <li>
      Right to data portability (Article 20 GDPR)
    </li>
    <li>Right of objection (Article 21 GDPR)</li>
    <li>
      Right not to be subject to a decision based solely on automated processing - including profiling (Article 22 GDPR)
    </li>
  </ul>
  <p>
    If you believe that the processing of your data violates data protection law or that your data protection claims have been violated in
    any other way, you can complain to the supervisory authority, which is the data protection authority in Austria whose website you can
    find at
    <a href="https://www.dsb.gv.at/?tid=211139867" rel="nofollow" target="_blank">https: // www. Find dsb.gv.at/</a>
    .
  </p>
  <h2>Evaluation of visitor behavior</h2>
  <p>
    In the following data protection declaration we inform you whether and how we evaluate data from your visit to this website. The
    evaluation of the collected data is usually anonymous and we cannot infer your person from your behavior on this website.
  </p>
  <p>
    You can find out more about how to object to this analysis of the visit data in the following data protection declaration.
  </p>
  <h2>TLS encryption with https</h2>
  <p>
    We use https to transmit data securely on the Internet (data protection through technology design,
    <a
      href="https://eur-lex.europa.eu/legal-content/DE/TXT/HTML/?uri=CELEX:32016R0679&from=DE&tid=211139867"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >Article 25 (1) GDPR</a
    >
    ). By using TLS (Transport Layer Security), an encryption protocol for secure data transmission on the Internet, we can ensure the
    protection of confidential data. You can recognize the use of this data transmission protection by the small lock symbol in the top left
    of the browser and the use of the https (instead of http) scheme as part of our Internet address.
  </p>
  <h2>OpenStreetMap privacy policy</h2>
  <p>
    We have integrated map excerpts from the online map tool "OpenStreetMap" on our website. This is a so-called open source mapping, which
    we can call up via an API (interface). This function is offered by OpenStreetMap Foundation, St John's Innovation Center, Cowley Road,
    Cambridge, CB4 0WS, United Kingdom. By using this map function, your IP address will be forwarded to OpenStreetMap. In this data
    protection declaration you will find out why we use functions of the OpenStreetMap tool, where which data is stored and how you can
    prevent this data storage.
  </p>
  <h3>What is OpenStreetMap?</h3>
  <p>
    The OpenStreetMap project was launched in 2004. The aim of the project is and was to create a free world map. Users around the world
    collect data on buildings, forests, rivers and roads, for example. Over the years, this resulted in an extensive digital world map
    created by users themselves. Of course, the map is not complete, but in most regions it is equipped with a lot of data.
  </p>
  <h3>
    Why do we use OpenStreetMap on our website?
  </h3>
  <p>
    Our website is primarily intended to be helpful to you. From our point of view, this is always the case when information is found
    quickly and easily. On the one hand it is of course about our services and products, on the other hand you should also have other
    helpful information available. That is why we also use the OpenStreetMap map service. For example, we can show you exactly how to find
    our company. The map shows you the best way to get to us and your journey will be child's play.
  </p>
  <h3>
    Which data is saved by OpenStreetMap?
  </h3>
  <p>
    When you visit one of our websites that OpenStreetMap offers, user data is transmitted to the service and stored there. OpenStreetMap
    collects information about your interactions with the digital map, your IP address, data on your browser, device type, operating system
    and on what day and at what time you used the service. Tracking software is also used to record user interactions. The company specifies
    the "Piwik" analysis tool in its own data protection declaration.
  </p>
  <p>
    The data collected are then available to the relevant working groups of the OpenStreetMap Foundation. According to the company, personal
    data will not be passed on to other people or companies unless this is legally necessary. The third-party provider Piwik stores your IP
    address, but in an abbreviated form.
  </p>
  <p>
    The following cookie can be set in your browser when you interact with OpenStreetMap on our website:
  </p>
  <p>
    <strong>Name:</strong> _osm_location <br />
    <strong>Value:</strong> 9.63312% 7C52.41500% 7C17% 7CM <br />
    <strong>Purpose:</strong> The cookie is required to unlock the content of OpenStreetMap. <br />
    <strong>Expiry date:</strong> after 10 years
  </p>
  <p>
    If you want to see the full screen of the map, you will be linked to the OpenStreetMap website. Among other things, the following
    cookies can be stored there in your browser:
  </p>
  <p>
    <strong>Name:</strong> _osm_totp_token <br />
    <strong>Value:</strong> 148253211139867-2 <br />
    <strong>Purpose:</strong> This cookie is used to ensure the operation of the map section. <br />
    <strong>Expiry date:</strong> after one hour
  </p>
  <p>
    <strong>Name:</strong> _osm_session <br />
    <strong>Value:</strong>
    1d9bfa122e0259d5f6db4cb8ef653a1c <br />
    <strong>Purpose:</strong> With the help of the cookie, session information (i.e. user behavior) can be saved. <br />
    <strong>Expiration date:</strong> after the session ends
  </p>
  <p>
    <strong>Name:</strong> _pk_id.1.cf09 <br />
    <strong>Value:</strong>
    4a5.1593684142.2.1593688396.1593688396211139867-9 <br />
    <strong>Purpose:</strong> This cookie is set by Piwik to save or measure user data such as click behavior. <br />
    <strong>Expiry date:</strong> after one year
  </p>
  <h3>
    How long and where will the data be stored?
  </h3>
  <p>
    The API servers, databases and auxiliary services servers are currently located in the United Kingdom (Great Britain and Northern
    Ireland) and the Netherlands. Your IP address and user information, which are saved in abbreviated form by the Piwik web analysis tool,
    will be deleted after 180 days.
  </p>
  <h3>
    How can I delete my data or prevent data storage?
  </h3>
  <p>
    You have the right to access your personal data at any time and to object to its use and processing. Cookies that OpenStreetMap may set
    can be managed, deleted or deactivated in your browser at any time. As a result, however, the service will no longer function to its
    full extent. The management, deletion or deactivation of cookies works slightly differently in each browser. Below you will find links
    to the instructions for the most popular browsers:
  </p>
  <p>
    <a href="https://support.google.com/chrome/answer/95647?tid=211139867" target="_blank" rel="noopener noreferrer nofollow"
      >Chrome: Delete, activate and manage cookies in Chrome</a
    >
  </p>
  <p>
    <a href="https://support.apple.com/de-at/guide/safari/sfri11471/mac?tid=211139867" target="_blank" rel="noopener noreferrer nofollow"
      >Safari: manage cookies and website data with Safari</a
    >
  </p>
  <p>
    <a
      href="https://support.mozilla.org/de/kb/cookies-und-website-daten-in-firefox-loschen?tid=211139867"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >Firefox: Delete cookies to remove data that websites have stored on your computer</a
    >
  </p>
  <p>
    <a
      href="https://support.microsoft.com/de-at/help/17442/windows-internet-explorer-delete-manage-cookies?tid=211139867"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >Internet Explorer: deleting and managing cookies</a
    >
  </p>
  <p>
    <a
      href="https://support.microsoft.com/de-at/help/4027947/windows-delete-cookies?tid=211139867"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >Microsoft Edge: Deleting and managing cookies</a
    >
  </p>
  <p>
    If you want to find out more about data processing by OpenStreetMap, we recommend the company's privacy policy at
    <a href="https://wiki.osmfoundation.org/wiki/Privacy_Policy?tid=211139867" target="_blank" rel="noopener noreferrer nofollow"
      >https://wiki.osmfoundation.org/wiki/Privacy_Policy.</a
    >
  </p>
  <p style="margin-top: 15px;">
    Source: Created with the
    <a
      title="Data protection generator from firmenwebseiten.at"
      href="https://www.firmenwebseiten.at/datenschutz-generator/"
      target="_blank"
      rel="follow"
      style="text-decoration: none;"
      >data protection generator</a
    >
    from firmenwebseiten.at in cooperation with
    <a href="https://www.limegreen.at" target="_blank" rel="follow" title="" style="text-decoration: none;">limegreen.at</a>
  </p>
</div>
<!--
<div style="max-width: 1000px; margin: auto;">
  <h1>Datenschutzerklärung</h1>
  <h2>Datenschutz</h2>
  <p>
    Wir haben diese Datenschutzerklärung (Fassung 18.01.2021-211139867) verfasst, um Ihnen gemäß der Vorgaben der
    <a
      href="https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679&tid=211139867"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="external"
      >Datenschutz-Grundverordnung (EU) 2016/679</a
    >
    zu erklären, welche Informationen wir sammeln, wie wir Daten verwenden und welche Entscheidungsmöglichkeiten Sie als Besucher dieser
    Webseite haben.
  </p>
  <p>
    Leider liegt es in der Natur der Sache, dass diese Erklärungen sehr technisch klingen, wir haben uns bei der Erstellung jedoch bemüht
    die wichtigsten Dinge so einfach und klar wie möglich zu beschreiben.
  </p>
  <h2>Automatische Datenspeicherung</h2>
  <p>
    Wenn Sie heutzutage Webseiten besuchen, werden gewisse Informationen automatisch erstellt und gespeichert, so auch auf dieser Webseite.
  </p>
  <p>
    Wenn Sie unsere Webseite so wie jetzt gerade besuchen, speichert unser Webserver (Computer auf dem diese Webseite gespeichert ist)
    automatisch Daten wie
  </p>
  <ul>
    <li>die Adresse (URL) der aufgerufenen Webseite</li>
    <li>Browser und Browserversion</li>
    <li>das verwendete Betriebssystem</li>
    <li>die Adresse (URL) der zuvor besuchten Seite (Referrer URL)</li>
    <li>den Hostname und die IP-Adresse des Geräts von welchem aus zugegriffen wird</li>
    <li>Datum und Uhrzeit</li>
  </ul>
  <p>in Dateien (Webserver-Logfiles).</p>
  <p>
    In der Regel werden Webserver-Logfiles zwei Wochen gespeichert und danach automatisch gelöscht. Wir geben diese Daten nicht weiter,
    können jedoch nicht ausschließen, dass diese Daten beim Vorliegen von rechtswidrigem Verhalten eingesehen werden.
  </p>
  <h2>Cookies</h2>
  <p>
    Unsere Webseite verwendet HTTP-Cookies, um nutzerspezifische Daten zu speichern.<br />
    Im Folgenden erklären wir, was Cookies sind und warum Sie genutzt werden, damit Sie die folgende Datenschutzerklärung besser verstehen.
  </p>
  <h3>Was genau sind Cookies?</h3>
  <p>
    Immer wenn Sie durch das Internet surfen, verwenden Sie einen Browser. Bekannte Browser sind beispielsweise Chrome, Safari, Firefox,
    Internet Explorer und Microsoft Edge. Die meisten Webseiten speichern kleine Text-Dateien in Ihrem Browser. Diese Dateien nennt man
    Cookies.
  </p>
  <p>
    Eines ist nicht von der Hand zu weisen: Cookies sind echt nützliche Helferlein. Fast alle Webseiten verwenden Cookies. Genauer
    gesprochen sind es HTTP-Cookies, da es auch noch andere Cookies für andere Anwendungsbereiche gibt. HTTP-Cookies sind kleine Dateien,
    die von unserer Webseite auf Ihrem Computer gespeichert werden. Diese Cookie-Dateien werden automatisch im Cookie-Ordner, quasi dem
    „Hirn“ Ihres Browsers, untergebracht. Ein Cookie besteht aus einem Namen und einem Wert. Bei der Definition eines Cookies müssen
    zusätzlich ein oder mehrere Attribute angegeben werden.
  </p>
  <p>
    Cookies speichern gewisse Nutzerdaten von Ihnen, wie beispielsweise Sprache oder persönliche Seiteneinstellungen. Wenn Sie unsere Seite
    wieder aufrufen, übermittelt Ihr Browser die „userbezogenen“ Informationen an unsere Seite zurück. Dank der Cookies weiß unsere
    Webseite, wer Sie sind und bietet Ihnen die Einstellung, die Sie gewohnt sind. In einigen Browsern hat jedes Cookie eine eigene Datei,
    in anderen wie beispielsweise Firefox sind alle Cookies in einer einzigen Datei gespeichert.
  </p>
  <p>
    Es gibt sowohl Erstanbieter Cookies als auch Drittanbieter-Cookies. Erstanbieter-Cookies werden direkt von unserer Seite erstellt,
    Drittanbieter-Cookies werden von Partner-Webseiten (z.B. Google Analytics) erstellt. Jedes Cookie ist individuell zu bewerten, da jedes
    Cookie andere Daten speichert. Auch die Ablaufzeit eines Cookies variiert von ein paar Minuten bis hin zu ein paar Jahren. Cookies sind
    keine Software-Programme und enthalten keine Viren, Trojaner oder andere „Schädlinge“. Cookies können auch nicht auf Informationen Ihres
    PCs zugreifen.
  </p>
  <p>So können zum Beispiel Cookie-Daten aussehen:</p>
  <p>
    <strong>Name:</strong> _ga<br />
    <strong>Wert:</strong> GA1.2.1326744211.152211139867-6<br />
    <strong>Verwendungszweck:</strong> Unterscheidung der Webseitenbesucher<br />
    <strong>Ablaufdatum:</strong> nach 2 Jahren
  </p>
  <p>Diese Mindestgrößen sollte ein Browser unterstützen können:</p>
  <ul>
    <li>Mindestens 4096 Bytes pro Cookie</li>
    <li>Mindestens 50 Cookies pro Domain</li>
    <li>Mindestens 3000 Cookies insgesamt</li>
  </ul>
  <h3>Welche Arten von Cookies gibt es?</h3>
  <p>
    Die Frage welche Cookies wir im Speziellen verwenden, hängt von den verwendeten Diensten ab und wird in den folgenden Abschnitten der
    Datenschutzerklärung geklärt. An dieser Stelle möchten wir kurz auf die verschiedenen Arten von HTTP-Cookies eingehen.
  </p>
  <p>Man kann 4 Arten von Cookies unterscheiden:</p>
  <p>
    <strong>Unerlässliche Cookies<br /> </strong>Diese Cookies sind nötig, um grundlegende Funktionen der Webseite sicherzustellen. Zum
    Beispiel braucht es diese Cookies, wenn ein User ein Produkt in den Warenkorb legt, dann auf anderen Seiten weitersurft und später erst
    zur Kasse geht. Durch diese Cookies wird der Warenkorb nicht gelöscht, selbst wenn der User sein Browserfenster schließt.
  </p>
  <p>
    <strong>Zweckmäßige Cookies<br /> </strong>Diese Cookies sammeln Infos über das Userverhalten und ob der User etwaige Fehlermeldungen
    bekommt. Zudem werden mithilfe dieser Cookies auch die Ladezeit und das Verhalten der Webseite bei verschiedenen Browsern gemessen.
  </p>
  <p>
    <strong>Zielorientierte Cookies<br /> </strong>Diese Cookies sorgen für eine bessere Nutzerfreundlichkeit. Beispielsweise werden
    eingegebene Standorte, Schriftgrößen oder Formulardaten gespeichert.
  </p>
  <p>
    <strong>Werbe-Cookies<br /> </strong>Diese Cookies werden auch Targeting-Cookies genannt. Sie dienen dazu dem User individuell
    angepasste Werbung zu liefern. Das kann sehr praktisch, aber auch sehr nervig sein.
  </p>
  <p>
    Üblicherweise werden Sie beim erstmaligen Besuch einer Webseite gefragt, welche dieser Cookiearten Sie zulassen möchten. Und natürlich
    wird diese Entscheidung auch in einem Cookie gespeichert.
  </p>
  <h3>Wie kann ich Cookies löschen?</h3>
  <p>
    Wie und ob Sie Cookies verwenden wollen, entscheiden Sie selbst. Unabhängig von welchem Service oder welcher Webseite die Cookies
    stammen, haben Sie immer die Möglichkeit Cookies zu löschen, zu deaktivieren oder nur teilweise zuzulassen. Zum Beispiel können Sie
    Cookies von Drittanbietern blockieren, aber alle anderen Cookies zulassen.
  </p>
  <p>
    Wenn Sie feststellen möchten, welche Cookies in Ihrem Browser gespeichert wurden, wenn Sie Cookie-Einstellungen ändern oder löschen
    wollen, können Sie dies in Ihren Browser-Einstellungen finden:
  </p>
  <p>
    <a
      href="https://support.google.com/chrome/answer/95647?tid=211139867"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="external"
      >Chrome: Cookies in Chrome löschen, aktivieren und verwalten</a
    >
  </p>
  <p>
    <a
      href="https://support.apple.com/de-at/guide/safari/sfri11471/mac?tid=211139867"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="external"
      >Safari: Verwalten von Cookies und Websitedaten mit Safari</a
    >
  </p>
  <p>
    <a
      href="https://support.mozilla.org/de/kb/cookies-und-website-daten-in-firefox-loschen?tid=211139867"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="external"
      >Firefox: Cookies löschen, um Daten zu entfernen, die Websites auf Ihrem Computer abgelegt haben</a
    >
  </p>
  <p>
    <a
      href="https://support.microsoft.com/de-at/help/17442/windows-internet-explorer-delete-manage-cookies?tid=211139867"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="external"
      >Internet Explorer: Löschen und Verwalten von Cookies</a
    >
  </p>
  <p>
    <a
      href="https://support.microsoft.com/de-at/help/4027947/windows-delete-cookies?tid=211139867"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="external"
      >Microsoft Edge: Löschen und Verwalten von Cookies</a
    >
  </p>
  <p>
    Falls Sie grundsätzlich keine Cookies haben wollen, können Sie Ihren Browser so einrichten, dass er Sie immer informiert, wenn ein
    Cookie gesetzt werden soll. So können Sie bei jedem einzelnen Cookie entscheiden, ob Sie das Cookie erlauben oder nicht. Die
    Vorgangsweise ist je nach Browser verschieden. Am besten Sie suchen die Anleitung in Google mit dem Suchbegriff “Cookies löschen Chrome”
    oder „Cookies deaktivieren Chrome“ im Falle eines Chrome Browsers.
  </p>
  <h3>Wie sieht es mit meinem Datenschutz aus?</h3>
  <p>
    Seit 2009 gibt es die sogenannten „Cookie-Richtlinien“. Darin ist festgehalten, dass das Speichern von Cookies eine Einwilligung von
    Ihnen verlangt. Innerhalb der EU-Länder gibt es allerdings noch sehr unterschiedliche Reaktionen auf diese Richtlinien. In Österreich
    erfolgte aber die Umsetzung dieser Richtlinie in § 96 Abs. 3 des Telekommunikationsgesetzes (TKG).
  </p>
  <p>
    Wenn Sie mehr über Cookies wissen möchten und technische Dokumentationen nicht scheuen, empfehlen wir
    <a href="https://tools.ietf.org/html/rfc6265" target="_blank" rel="nofollow noopener noreferrer" class="external"
      >https://tools.ietf.org/html/rfc6265</a
    >, dem Request for Comments der Internet Engineering Task Force (IETF) namens „HTTP State Management Mechanism“.
  </p>
  <h2>Speicherung persönlicher Daten</h2>
  <p>
    Persönliche Daten, die Sie uns auf dieser Website elektronisch übermitteln, wie zum Beispiel Name, E-Mail-Adresse, Adresse oder andere
    persönlichen Angaben im Rahmen der Übermittlung eines Formulars oder Kommentaren im Blog, werden von uns gemeinsam mit dem Zeitpunkt und
    der IP-Adresse nur zum jeweils angegebenen Zweck verwendet, sicher verwahrt und nicht an Dritte weitergegeben.
  </p>
  <p>
    Wir nutzen Ihre persönlichen Daten somit nur für die Kommunikation mit jenen Besuchern, die Kontakt ausdrücklich wünschen und für die
    Abwicklung der auf dieser Webseite angebotenen Dienstleistungen und Produkte. Wir geben Ihre persönlichen Daten ohne Zustimmung nicht
    weiter, können jedoch nicht ausschließen, dass diese Daten beim Vorliegen von rechtswidrigem Verhalten eingesehen werden.
  </p>
  <p>
    Wenn Sie uns persönliche Daten per E-Mail schicken – somit abseits dieser Webseite – können wir keine sichere Übertragung und den Schutz
    Ihrer Daten garantieren. Wir empfehlen Ihnen, vertrauliche Daten niemals unverschlüsselt per E-Mail zu übermitteln.
  </p>
  <h2>Rechte laut Datenschutzgrundverordnung</h2>
  <p>
    Ihnen stehen laut den Bestimmungen der DSGVO und des österreichischen
    <a
      href="https://www.ris.bka.gv.at/GeltendeFassung.wxe?Abfrage=Bundesnormen&Gesetzesnummer=10001597&tid=211139867"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="external"
      >Datenschutzgesetzes (DSG)</a
    >
    grundsätzlich die folgende Rechte zu:
  </p>
  <ul>
    <li>Recht auf Berichtigung (Artikel 16 DSGVO)</li>
    <li>Recht auf Löschung („Recht auf Vergessenwerden“) (Artikel 17 DSGVO)</li>
    <li>Recht auf Einschränkung der Verarbeitung (Artikel 18 DSGVO)</li>
    <li>
      Recht auf Benachrichtigung – Mitteilungspflicht im Zusammenhang mit der Berichtigung oder Löschung personenbezogener Daten oder der
      Einschränkung der Verarbeitung (Artikel 19 DSGVO)
    </li>
    <li>Recht auf Datenübertragbarkeit (Artikel 20 DSGVO)</li>
    <li>Widerspruchsrecht (Artikel 21 DSGVO)</li>
    <li>
      Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung — einschließlich Profiling — beruhenden Entscheidung
      unterworfen zu werden (Artikel 22 DSGVO)
    </li>
  </ul>
  <p>
    Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche sonst
    in einer Weise verletzt worden sind, können Sie sich bei der Aufsichtsbehörde beschweren, welche in Österreich die Datenschutzbehörde
    ist, deren Webseite Sie unter
    <a href="https://www.dsb.gv.at/?tid=211139867" class="external" rel="nofollow">https://www.dsb.gv.at/</a>
    finden.
  </p>
  <h2>Auswertung des Besucherverhaltens</h2>
  <p>
    In der folgenden Datenschutzerklärung informieren wir Sie darüber, ob und wie wir Daten Ihres Besuchs dieser Website auswerten. Die
    Auswertung der gesammelten Daten erfolgt in der Regel anonym und wir können von Ihrem Verhalten auf dieser Website nicht auf Ihre Person
    schließen.
  </p>
  <p>Mehr über Möglichkeiten dieser Auswertung der Besuchsdaten zu widersprechen erfahren Sie in der folgenden Datenschutzerklärung.</p>
  <h2>TLS-Verschlüsselung mit https</h2>
  <p>
    Wir verwenden https um Daten abhörsicher im Internet zu übertragen (Datenschutz durch Technikgestaltung
    <a
      href="https://eur-lex.europa.eu/legal-content/DE/TXT/HTML/?uri=CELEX:32016R0679&from=DE&tid=211139867"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="external"
      >Artikel 25 Absatz 1 DSGVO</a
    >). Durch den Einsatz von TLS (Transport Layer Security), einem Verschlüsselungsprotokoll zur sicheren Datenübertragung im Internet
    können wir den Schutz vertraulicher Daten sicherstellen. Sie erkennen die Benutzung dieser Absicherung der Datenübertragung am kleinen
    Schlosssymbol links oben im Browser und der Verwendung des Schemas https (anstatt http) als Teil unserer Internetadresse.
  </p>
  <h2>OpenStreetMap Datenschutzerklärung</h2>
  <p>
    Wir haben auf unserer Website Kartenausschnitte des Online-Kartentools „OpenStreetMap“ eingebunden. Dabei handelt es sich um ein
    sogenanntes Open-Source-Mapping, welches wir über eine API (Schnittstelle) abrufen können. Angeboten wird diese Funktion von
    OpenStreetMap Foundation, St John’s Innovation Centre, Cowley Road, Cambridge, CB4 0WS, United Kingdom. Durch die Verwendung dieser
    Kartenfunktion wird Ihre IP-Adresse an OpenStreetMap weitergeleitet. In dieser Datenschutzerklärung erfahren Sie warum wir Funktionen
    des Tools OpenStreetMap verwenden, wo welche Daten gespeichert werden und wie Sie diese Datenspeicherung verhindern können.
  </p>
  <h3>Was ist OpenStreetMap?</h3>
  <p>
    Das Projekt OpenStreetMap wurde 2004 ins Leben gerufen. Ziel des Projekts ist und war es, eine freie Weltkarte zu erschaffen. User
    sammeln weltweit Daten etwa über Gebäude, Wälder, Flüsse und Straßen. So entstand über die Jahre eine umfangreiche, von Usern selbst
    erstellte digitale Weltkarte. Selbstverständlich ist die Karte, nicht vollständig, aber in den meisten Regionen mit sehr vielen Daten
    ausgestattet.
  </p>
  <h3>Warum verwenden wir OpenStreetMap auf unserer Website?</h3>
  <p>
    Unsere Website soll Ihnen in erster Linie hilfreich sein. Und das ist sie aus unserer Sicht immer dann, wenn man Information schnell und
    einfach findet. Da geht es natürlich einerseits um unsere Dienstleistungen und Produkte, andererseits sollen Ihnen auch weitere
    hilfreiche Informationen zur Verfügung stehen. Deshalb nutzen wir auch den Kartendienst OpenStreetMap. Denn so können wir Ihnen
    beispielsweise genau zeigen, wie Sie unsere Firma finden. Die Karte zeigt Ihnen den besten Weg zu uns und Ihre Anfahrt wird zum
    Kinderspiel.
  </p>
  <h3>Welche Daten werden von OpenStreetMap gespeichert?</h3>
  <p>
    Wenn Sie eine unserer Webseiten besuchen, die OpenStreetMap anbietet, werden Nutzerdaten an den Dienst übermittelt und dort gespeichert.
    OpenStreetMap sammelt etwa Informationen über Ihre Interaktionen mit der digitalen Karte, Ihre IP-Adresse, Daten zu Ihrem Browser,
    Gerätetyp, Betriebssystem und an welchem Tag und zu welcher Uhrzeit Sie den Dienst in Anspruch genommen haben. Dafür wird auch
    Tracking-Software zur Aufzeichnung von Userinteraktionen verwendet. Das Unternehmen gibt hier in der eigenen Datenschutzerklärung das
    Analysetool „Piwik“ an.
  </p>
  <p>
    Die erhobenen Daten sind in Folge den entsprechenden Arbeitsgruppen der OpenStreetMap Foundation zugänglich. Laut dem Unternehmen werden
    persönliche Daten nicht an andere Personen oder Firmen weitergegeben, außer dies ist rechtlich notwendig. Der Drittanbieter Piwik
    speichert zwar Ihre IP-Adresse, allerdings in gekürzter Form.
  </p>
  <p>Folgendes Cookie kann in Ihrem Browser gesetzt werden, wenn Sie mit OpenStreetMap auf unserer Website interagieren:</p>
  <p>
    <strong>Name:</strong> _osm_location<br />
    <strong>Wert:</strong> 9.63312%7C52.41500%7C17%7CM<br />
    <strong>Verwendungszweck:</strong> Das Cookie wird benötigt, um die Inhalte von OpenStreetMap zu entsperren.<br />
    <strong>Ablaufdatum:</strong> nach 10 Jahren
  </p>
  <p>
    Wenn Sie sich das Vollbild der Karte ansehen wollen, werden Sie auf die OpenStreetMap-Website verlinkt. Dort können unter anderem
    folgende Cookies in Ihrem Browser gespeichert werden:
  </p>
  <p>
    <strong>Name:</strong> _osm_totp_token<br />
    <strong>Wert:</strong> 148253211139867-2<br />
    <strong>Verwendungszweck:</strong> Dieses Cookie wird benutzt, um die Bedienung des Kartenausschnitts zu gewährleisten.<br />
    <strong>Ablaufdatum:</strong> nach einer Stunde
  </p>
  <p>
    <strong>Name:</strong> _osm_session<br />
    <strong>Wert:</strong> 1d9bfa122e0259d5f6db4cb8ef653a1c<br />
    <strong>Verwendungszweck:</strong> Mit Hilfe des Cookies können Sitzungsinformationen (also Userverhalten) gespeichert werden.<br />
    <strong>Ablaufdatum:</strong> nach Sitzungsende
  </p>
  <p>
    <strong>Name:</strong> _pk_id.1.cf09<br />
    <strong>Wert:</strong> 4a5.1593684142.2.1593688396.1593688396211139867-9<br />
    <strong>Verwendungszweck:</strong> Dieses Cookie wird von Piwik gesetzt, um Userdaten wie etwa das Klickverhalten zu speichern bzw. zu
    messen.<br />
    <strong>Ablaufdatum:</strong> nach einem Jahr
  </p>
  <h3>Wie lange und wo werden die Daten gespeichert?</h3>
  <p>
    Die API-Server, die Datenbanken und die Server von Hilfsdiensten befinden sich derzeit im Vereinten Königreich (Großbritannien und
    Nordirland) und in den Niederlanden. Ihre IP-Adresse und Userinformationen, die in gekürzter Form durch das Webanalysetool Piwik
    gespeichert werden, werden nach 180 Tagen wieder gelöscht.
  </p>
  <h3>Wie kann ich meine Daten löschen bzw. die Datenspeicherung verhindern?</h3>
  <p>
    Sie haben jederzeit das Recht auf Ihre personenbezogenen Daten zuzugreifen und Einspruch gegen die Nutzung und Verarbeitung zu erheben.
    Cookies, die von OpenStreetMap möglicherweise gesetzt werden, können Sie in Ihrem Browser jederzeit verwalten, löschen oder
    deaktivieren. Dadurch wird allerdings der Dienst nicht mehr im vollen Ausmaß funktionieren. Bei jedem Browser funktioniert die
    Verwaltung, Löschung oder Deaktivierung von Cookies etwas anders. Im Folgenden finden Sie Links zu den Anleitungen der bekanntesten
    Browser:
  </p>
  <p>
    <a
      href="https://support.google.com/chrome/answer/95647?tid=211139867"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="external"
      >Chrome: Cookies in Chrome löschen, aktivieren und verwalten</a
    >
  </p>
  <p>
    <a
      href="https://support.apple.com/de-at/guide/safari/sfri11471/mac?tid=211139867"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="external"
      >Safari: Verwalten von Cookies und Websitedaten mit Safari</a
    >
  </p>
  <p>
    <a
      href="https://support.mozilla.org/de/kb/cookies-und-website-daten-in-firefox-loschen?tid=211139867"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="external"
      >Firefox: Cookies löschen, um Daten zu entfernen, die Websites auf Ihrem Computer abgelegt haben</a
    >
  </p>
  <p>
    <a
      href="https://support.microsoft.com/de-at/help/17442/windows-internet-explorer-delete-manage-cookies?tid=211139867"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="external"
      >Internet Explorer: Löschen und Verwalten von Cookies</a
    >
  </p>
  <p>
    <a
      href="https://support.microsoft.com/de-at/help/4027947/windows-delete-cookies?tid=211139867"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="external"
      >Microsoft Edge: Löschen und Verwalten von Cookies</a
    >
  </p>
  <p>
    Wenn Sie mehr über die Datenverarbeitung durch OpenStreetMap erfahren wollen, empfehlen wir Ihnen die Datenschutzerklärung des
    Unternehmens unter
    <a
      href="https://wiki.osmfoundation.org/wiki/Privacy_Policy?tid=211139867"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="external"
      >https://wiki.osmfoundation.org/wiki/Privacy_Policy.</a
    >
  </p>
  <p style="margin-top: 15px;">
    Quelle: Erstellt mit dem
    <a
      title="Datenschutz Generator von firmenwebseiten.at"
      href="https://www.firmenwebseiten.at/datenschutz-generator/"
      target="_blank"
      rel="follow"
      style="text-decoration: none;"
      >Datenschutz Generator</a
    >
    von firmenwebseiten.at in Kooperation mit
    <a href="https://www.limegreen.at" target="_blank" rel="follow" title="" style="text-decoration: none;">limegreen.at</a>
  </p>
</div>
 -->
