<div>
  <h2 id="page-heading">
    <span jhiTranslate="compassApp.orienteeringMap.home.title">Orienteering Maps</span>

    <button
      id="jh-create-entity"
      class="btn btn-primary float-right jh-create-entity create-orienteering-map"
      [routerLink]="['/orienteering-map/new']"
    >
      <fa-icon icon="plus"></fa-icon>
      <span jhiTranslate="compassApp.orienteeringMap.home.createLabel">
        Create a new Orienteering Map
      </span>
    </button>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="orienteeringMaps?.length === 0">
    <span jhiTranslate="compassApp.orienteeringMap.home.notFound">No orienteeringMaps found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="orienteeringMaps && orienteeringMaps.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="compassApp.orienteeringMap.mapOverlayImage">Map Overlay Image</span></th>
          <th scope="col"><span jhiTranslate="compassApp.orienteeringMap.mapOverlayKml">Map Overlay Kml</span></th>
          <th scope="col"><span jhiTranslate="compassApp.orienteeringMap.imageScaleX">Image Scale X</span></th>
          <th scope="col"><span jhiTranslate="compassApp.orienteeringMap.imageScaleY">Image Scale Y</span></th>
          <th scope="col"><span jhiTranslate="compassApp.orienteeringMap.imageCenterX">Image Center X</span></th>
          <th scope="col"><span jhiTranslate="compassApp.orienteeringMap.imageCenterY">Image Center Y</span></th>
          <th scope="col"><span jhiTranslate="compassApp.orienteeringMap.imageRotation">Image Rotation</span></th>
          <th scope="col"><span jhiTranslate="compassApp.orienteeringMap.declination">Declination</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orienteeringMap of orienteeringMaps; trackBy: trackId">
          <td>
            <a [routerLink]="['/orienteering-map', orienteeringMap.id, 'view']">{{ orienteeringMap.id }}</a>
          </td>
          <td>
            <a
              *ngIf="orienteeringMap.mapOverlayImage"
              (click)="openFile(orienteeringMap.mapOverlayImageContentType, orienteeringMap.mapOverlayImage)"
            >
              <img
                [src]="'data:' + orienteeringMap.mapOverlayImageContentType + ';base64,' + orienteeringMap.mapOverlayImage"
                style="max-height: 30px;"
                alt="orienteeringMap image"
              />
            </a>
            <span *ngIf="orienteeringMap.mapOverlayImage"
              >{{ orienteeringMap.mapOverlayImageContentType }}, {{ byteSize(orienteeringMap.mapOverlayImage) }}</span
            >
          </td>
          <td>
            <a
              *ngIf="orienteeringMap.mapOverlayKml"
              (click)="openFile(orienteeringMap.mapOverlayKmlContentType, orienteeringMap.mapOverlayKml)"
            >
              <img
                [src]="'data:' + orienteeringMap.mapOverlayKmlContentType + ';base64,' + orienteeringMap.mapOverlayKml"
                style="max-height: 30px;"
                alt="orienteeringMap image"
              />
            </a>
            <span *ngIf="orienteeringMap.mapOverlayKml"
              >{{ orienteeringMap.mapOverlayKmlContentType }}, {{ byteSize(orienteeringMap.mapOverlayKml) }}</span
            >
          </td>
          <td>{{ orienteeringMap.imageScaleX }}</td>
          <td>{{ orienteeringMap.imageScaleY }}</td>
          <td>{{ orienteeringMap.imageCenterX }}</td>
          <td>{{ orienteeringMap.imageCenterY }}</td>
          <td>{{ orienteeringMap.imageRotation }}</td>
          <td>{{ orienteeringMap.declination }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/orienteering-map', orienteeringMap.id, 'view']" class="btn btn-info btn-sm">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/orienteering-map', orienteeringMap.id, 'edit']" class="btn btn-primary btn-sm">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(orienteeringMap)" class="btn btn-danger btn-sm">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="orienteeringMaps">
    <div class="row justify-content-center">
      <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage(page)"
      ></ngb-pagination>
    </div>
  </div>
</div>
